.clear:before,
.clear:after {
    display: table;
    content: '';
    clear: both;
}

// each page content
.simply-page {
    height: 100vh;
}

// controls
.simply-paging-controls {
    position: fixed;
    top: 50%;
    width: 100%;
    &.vertical {
        top: 0;
        height: 100vh;
        .simply-paging-control-wrapper {
            float: none;
            height: 50vh;
            width: 100%;
            &.prev {
                text-align: center;
            }
            &.next {
                text-align: center;
            }
        }
        .simply-paging-control {
            transform: rotate(90deg);
        }
        .simply-page-prev {
            position: absolute;
            top: 12px;
            left: 50%;
            margin: 0;
        }
        .simply-page-next {
            position: absolute;
            bottom: 12px;
            left: 50%;
            margin: 0;
        }
    } // default - left/right
    .simply-paging-control-wrapper {
        float: left;
        width: 50%;
        &.prev {
            text-align: left;
        }
        &.next {
            text-align: right;
        }
    }
    .simply-page-prev {
        margin-left: 12px;
    }
    .simply-page-next {
        margin-right: 12px;
    }
}

.simply-paging-control-wrapper {
    svg {
        width: 24px;
    }
}

.simply-paging-control {
    display: inline-block;
    padding: 24px 12px;
    box-shadow: 0px 0px 1px 2px rgba(84, 80, 80, 0.5);
    border-radius: 4px;
    background: rgb(84, 80, 80);
    cursor: pointer;
    &.disabled {
        opacity: .5;
        cursor: not-allowed;
    }
}

// media